<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets async="true">
    <target name="errorsFile"
            xsi:type="File"
            fileName="${basedir}/Logs/Log_Errors_${date:format=yyyy-MM-dd}.txt"
            layout="${time:format=HH:mm:ss}| ${level}| ${message} ${onexception:inner=${newline}${exception:format=tostring}"
            archiveEvery="Day" />
    <target name="debugFile"
            xsi:type="File"
            fileName="${basedir}/Logs/Log_Debug_${date:format=yyyy-MM-dd}.txt"
            layout="${time:format=HH:mm:ss}| ${level}| ${message} ${onexception:inner=${newline}${exception:format=tostring}"
            archiveEvery="Day" />
    <target name="console"
            xsi:type="Console"
            layout="${time:format=HH:mm:ss}| ${level}| ${message}|${onexception:inner=${newline}${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" levels="Fatal,Error" writeTo="errorsFile" />
    <logger name="*" levels="Debug,Trace" writeTo="debugFile" />
    <logger name="*" levels="Trace,Debug,Fatal,Error" writeTo="console" />
  </rules>
</nlog>
